*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('LOgin.jpg');
}

.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 13px 13px 37px rgb(24, 6, 179);

}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register .buttom {
    width: 100%;
     border: none;
     padding: 12px;
     background-color: #063599;
     color: white;
     text-align: center;
     height: 40px;
     margin: 16px 0;
     padding: 12px;
     font-size: 16px;
     
}